{% extends "blog/padre.html" %}

{% load static %}

{% block content %}

<style>
    #cke_id_body{
        width: 100% !important;
    }
    #container{
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
        padding: 30px 20px 20px 20px;
        border-radius: 30px;
        margin-bottom: 20px;

    }
    #container h3{
        text-align: center;
    }

</style>

<div class = 'container' id = 'container'>

    <h3><strong> Profile </strong></h3>  


        <h3><strong> {{user.username}} </strong></h3>  
    
        <ol>Email: {{user.email}}</ol>
        <ol>Last access: {{user.last_login}}</ol>
        <ol>Joined: {{user.date_joined}}</ol>

        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'editProfile' %}">Edit Profile</a>
        
        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'uploadAvatar' %}">Agregar Avatar</a>

  
</div>


  {% endblock %}
 
